!!! 5
%html{ class: 'no-js', lang: 'es'}
  %head
    %title
      Tuza
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge, chrome=1' }
    %meta{ name: 'viewport', content: "initial-scale = 1.0,maximum-scale = 1.0" }
    %meta{ name: 'description', content: 'Tuza' }
    %meta{ name: 'author', content: 'Tuza' }
    = stylesheet_link_tag 'all'
    = javascript_include_tag 'all'
  %body
    = yield
